header{
    background-color: black;
    height: 50px; 
}
footer{
    background-color: black;
    padding: 20px 20px 0px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px; 
}
form{
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: auto;
}
form div{
    left: 20px;
    font-size: large;
    margin-top: 20px;
}
form label {
    font-size: large;
}
form input{
    size: large;
    margin: auto;
    width: 90%;
    border-color: gray;
    box-sizing: border-box;
    border-radius: 5px;
}
::placeholder{
    padding-left: 10px;
}
input#check{
    width: auto;
}
p{
    font-size: small;
    color: gray;
}
button{
    background-color: rgb(98, 100, 245);
    font-family:'Lucida Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
}