header{
    background-color: black;
    height: 50px; 
}
footer{
    background-color: black;
    padding: 20px 20px 0px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px; 
}
form{
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: auto;
}
form div{
    left: 20px;
    font-size: large;
    margin-top: 20px;
}
form label {
    font-size: large;
}
form input{
    size: large;
    margin: auto;
    width: 90%;
    border-color: gray;
    box-sizing: border-box;
    border-radius: 5px;
}
::placeholder{
    padding-left: 10px;
}
input#check{
    width: auto;
}
p{
    font-size: small;
    color: gray;
}
button{
    background-color: rgb(98, 100, 245);
    font-family:'Lucida Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
}
.navbar{
    position: relative;
    background-color: rgba(0, 0, 255);
    height: 50px; 
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    z-index: -1;
    border-top: 3px solid white;
}
.navbar span{
    margin-left: 20px;
    margin-right: 0px;
    padding-right: 0px;
}
li{ 
    padding-top: 10px;
    display: inline-flex;  
    border-left: 2px solid white;
    width: 200px;
    overflow: hidden;
}
li a {
    color: white;
    padding-left: 55px;
}
span.right{
    margin-left: 200px;
    padding-left: 250px;
 }
.navbar button{
    background-color: gainsboro;
    color: black;
    margin-right: 10px;
    text-align: right;
    z-index: -1;
}